<div id="operations">
	
	<div class="row">
		<div class="col-sm-12"><h1>Operations</h1></div>
	</div>

	<div class="row"  style="margin-top: 10px; color: inherit; background-color: #073642; border-radius: 6px;">
		<div class="col-sm-12"><h3>Order 1</h3></div>
	</div>

	<div class="row"  style="margin-top: 10px; color: inherit; background-color: #073642; border-radius: 6px;">
		<div class="col-sm-12"><h3>Order 2</h3></div>
	</div>

</div>


<div id="orders">
	
	<div class="row">
		<div class="col-sm-12"><h1>Your Orders</h1></div>
	</div>

	<!-- <div class="row" *ngIf="order"  style="margin-top: 10px; color: inherit; background-color: #073642; border-radius: 6px;">
		<div class="col-sm-12"><h3>{{order.count}}.{{order.orders}}</h3></div>
	</div> -->

	<!-- <div class="row"  style="margin-top: 10px; color: inherit; background-color: #073642; border-radius: 6px;">
		<div class="col-sm-12"><h3>Order 2</h3></div>
	</div> -->


	<div *ngFor="let item of order">
		<h2 class="page-header">order.{{item.count}}</h2>
		<ul class="list-group">
			<li class="list-group-item">count: {{item.count}}</li>
			<li class="list-group-item">orders: {{item.orders}}</li>
		</ul>
	</div>

</div>
