<!-- <button (click)="showops()" *ngIf="mine" >Operations</button>
<button (click)="showmine()" *ngIf="ops" >Mine</button> -->

<input type="button" style="float:right;"  class="btn btn-primary" (click)="showops()" *ngIf="mine" value="Operations" name="Operations">
<div *ngIf="user.role!='admin'">
	
<input type="button"  style="float:right;" class="btn btn-primary" (click)="showmine()" *ngIf="ops" value="MyDash" name="Mine">
</div>

<div *ngIf="user.role=='admin'">
	
<input type="button"  style="float:right;" class="btn btn-primary" (click)="showmine()" *ngIf="ops" value="All Orders" name="Mine">
</div>

<div id="operations" [hidden]="!ops">
	
	<div class="row">
		<div class="col-sm-12"><h1>Options</h1></div>
	</div>

	<div class="row" style="align-items: center">
		<div class="col-sm-3"  *ngFor="let item of operations" (click)="intoitem(item.foption)"  style="margin-top: 10px; color: inherit; background-color: rgba(117, 123, 124, 0.3); border-radius: 6px; margin-right: 30px;    width: 200px; height: 200px;"  [hidden]="item.foption=='Guests'&&user.role!='admin'" >
			<div ><h3 align="center">{{item.foption}}</h3></div>
			<img style="padding: 35px; width: 150px; height: 150px;" src="{{item.imgurl}}">
		</div> 
	</div>

	

</div>

<div id="futhermore" [hidden]="!boptions">
	<button class="btn btn-warning" (click)="outtofront(boption)">back</button>
	<div class="row" *ngIf="boptions">
		
		<div class="col-sm-12"><h1>{{boption}}<div style="float: right;"><div [hidden]="user.role!='admin'"	><button class="btn btn-primary" (click) ="visAddNewDivfn(boption)">{{visbtnvalue}}</button></div></div></h1></div>
	</div>

	<div class="row" *ngIf="boption=='Guests'" >
		<div [hidden]="!visAddNewDiv" class="col-sm-12"  style="margin-top: 10px; margin-bottom: 20px; color: inherit; background-color: rgba(117, 123, 124, 0.3);  border-radius: 6px; font-size: 20px; "  *ngFor="let item of users">Email:{{item.email}}&nbsp;&nbsp;&nbsp;&nbsp;Username:{{item.username}}<br>PhoneNo:{{item.PhoneNo}}&nbsp;&nbsp;&nbsp;&nbsp;RegistrationNo:{{item.RegistrationNo}}&nbsp;&nbsp;&nbsp;&nbsp;RoomNo:{{item.RoomNo}}</div>
		<div [hidden]="user.role!='admin'">
			<div [hidden]="visAddNewDiv">
				Registration process


				<div class="container">
		        <div class="row centered-form">
		        <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
		        	<div class="panel panel-default">
		        		<div class="panel-heading" style="background-color: #f4760d">
					    		<h3 class="panel-title" style="text-align: center; background-color: #f4760d">Registration</h3>
					 			</div>
					 			<div class="panel-body" style="text-align: center; padding: 40px 20px 40px 20px;">
					 				<form role="form" (submit)="onRegisterSubmit()">
					 				<div class="form-group">
					    				<input type="text" name="name" id="name" class="form-control input-sm" placeholder="name" [(ngModel)]="name" >
					    			</div>

								<div class="form-group">
					    				<input type="text" name="username" id="username" class="form-control input-sm" placeholder="username" [(ngModel)]="username" >
					    			</div>

					    		<div class="form-group">
					    				<input type="email" name="email" id="email" class="form-control input-sm" placeholder="email" [(ngModel)]="email" >
					    			</div>

					    			<div class="form-group">
					    				<input type="number" name="email" id="email" class="form-control input-sm" placeholder="Phone No" [(ngModel)]="PhoneNo" >
					    			</div>

					    			<div class="form-group">
					    				<input type="text" name="RegistrationNo" id="email" class="form-control input-sm" placeholder="Registration No" [(ngModel)]="RegistrationNo" >
					    			</div>

					    			<div class="form-group">
					    				<input type="text" name="RoomNo" id="email" class="form-control input-sm" placeholder="Room No" [(ngModel)]="RoomNo" >
					    			</div>

					    		
					    			<div class="row">
					    				<div class="col-xs-6 col-sm-6 col-md-6">
					    					<div class="form-group">
					                <input type="password" [(ngModel)]="password" name="password" id="password" class="form-control input-sm" placeholder="password">
					    					</div>
					    				</div>
					    				<div class="col-xs-6 col-sm-6 col-md-6">
					    					<div class="form-group">
					    						<input type="password" [(ngModel)]="password1" name="password1" id="password1" class="form-control input-sm" placeholder="confirm password">
					    					</div>
					    				</div>
					    			</div>

					    			

			    			    <input type="submit" value="Register" class="btn btn-info btn-block">
					    		
					    		</form>
					    	</div>
			    		</div>
		    		</div>
		    	</div>
		    	<!-- <ngx-qrcode 
		        qrc-element-type="http://localhost:4200/Register" 
		        [qrc-value] = "value"
		        qrc-version = "5">
		        </ngx-qrcode> -->
		    </div>
			</div>

		</div>

	</div>
	

	<div class="row" *ngIf="boption=='Spa'" >
		<!-- {{boption}} -->
		<div [hidden]="!visAddNewDiv" class="col-sm-12"  style="margin-top: 10px; color: inherit; background-color: rgba(117, 123, 124, 0.3); margin-bottom: 20px;  border-radius: 6px; font-size: 20px; "  *ngFor="let item of spadeals" (click)="addOrder(item.session,user.username,item.ItemPrice)"><h3>session:{{item.session}}&nbsp;&nbsp;&nbsp;&nbsp;duration:{{item.duration}}&nbsp;&nbsp;&nbsp;&nbsp;Price:{{item.price}}</h3><div style="padding: 10px"></div></div>

<div [hidden]="user.role!='admin'"	>
		<div class="row" [hidden]="visAddNewDiv">
			<div class="col-sm-2"></div>
			<div class="col-sm-8">
				<label name="cuisine">session:</label>
				<input type="text" class="form-control" [(ngModel)]="spadeal.session" placeholder="session" name="session">
				<label name="FoodType">duration:</label>
				<input type="text" class="form-control" [(ngModel)]="spadeal.duration" placeholder="duration" name="duration">
				<label name="ItemName">Price:</label>
				<input type="number" class="form-control" [(ngModel)]="spadeal.price" placeholder="Price" name="Price">
				
				<br>
				<button class="form-control" (click)="AddSpaDeal()">Add</button>
				<br>
				<button class="form-control" (click)="ClearSpaDeal()">Clear</button>
			</div>
			<div class="col-sm-2"></div>
		</div>
</div>
	</div>


	<div class="row" *ngIf="boption=='Menu'" >
		<!-- {{boption}} -->
		<div  [hidden]="!visAddNewDiv" class="col-sm-12"  style="margin-top: 10px; color: inherit; background-color: rgba(117, 123, 124, 0.3); margin-bottom: 20px;  border-radius: 6px; font-size: 20px; "  *ngFor="let item of menus" (click)="addOrder(item.FoodType,user.username,item.ItemPrice)"><h3>Cuisine:{{item.cuisine}}&nbsp;&nbsp;&nbsp;&nbsp;type:{{item.FoodType}}&nbsp;&nbsp;&nbsp;&nbsp;ItemName:{{item.ItemName}}&nbsp;&nbsp;&nbsp;&nbsp;ItemPrice:{{item.ItemPrice}}</h3><div style="padding: 10px"><img src="{{item.imgurl}}" [hidden]="item.imgurl==null" style="width: 150px; height: 150px; float: right;" ></div></div>

<div [hidden]="user.role!='admin'"	>
		<div class="row" [hidden]="visAddNewDiv">
			<div class="col-sm-2"></div>
			<div class="col-sm-8">
				<label name="cuisine">cuisine:</label>
				<input type="text" class="form-control" [(ngModel)]="RoomMenu.cuisine" placeholder="cuisine" name="cuisine">
				<label name="FoodType">FoodType:</label>
				<input type="text" class="form-control" [(ngModel)]="RoomMenu.FoodType" placeholder="FoodType" name="FoodType">
				<label name="ItemName">ItemName:</label>
				<input type="text" class="form-control" [(ngModel)]="RoomMenu.ItemName" placeholder="ItemName" name="ItemName">
				<label name="ItemPrice">ItemPrice:</label>
				<input type="number" class="form-control" [(ngModel)]="RoomMenu.ItemPrice" placeholder="ItemPrice" name="ItemPrice">
				<br>
				<button class="form-control" (click)="AddMenuItem()">Add</button>
				<br>
				<button class="form-control" (click)="ClearMenuItem()">Clear</button>
			</div>
			<div class="col-sm-2"></div>
		</div>
</div>
	</div>

</div>
<div id="orders" [hidden]="!mine">
	
	<div class="row">
		<div class="col-sm-12"><h1>Your Orders</h1></div>
	</div>
	<div [hidden]="user.role=='admin'">
	<h2>Ordered</h2>

	<div class="row"  *ngFor="let item of ordersplaced" style="margin-top: 10px; color: inherit; background-color: rgba(117, 123, 124, 0.3); border-radius: 6px; margin-right: 30px;">
		<div class="col-sm-12" *ngIf="item.UserName==user.username"><h3 *ngIf="item.status=='ordered'"	>Service Item:{{item.ItemName}} <br>Customer Name:{{item.UserName}}</h3><div style="padding: 10px">
<!-- <input type="button" name="" value="cancel" class=".btn-danger" style="float: right;"  (click)="deleteorder(item._id)">
 -->		</div></div>
	</div>
	<h2>Processing</h2>

	<div class="row"  *ngFor="let item of ordersplaced" style="margin-top: 10px; color: inherit; background-color: rgba(117, 123, 124, 0.3); border-radius: 6px; margin-right: 30px;">
		<div class="col-sm-12"  *ngIf="item.UserName==user.username"><h3 *ngIf="item.status=='taken'"	>Service Item:{{item.ItemName}} <br>Customer Name:{{item.UserName}}</h3><div style="padding: 10px"></div></div>
	</div>
	<h2>Delivered</h2>
	<div class="row"  *ngFor="let item of ordersplaced" style="margin-top: 10px; color: inherit; background-color: rgba(117, 123, 124, 0.3); border-radius: 6px; margin-right: 30px;">
		<div class="col-sm-12"  *ngIf="item.UserName==user.username"><h3 *ngIf="item.status=='delivered'"	>Service Item:{{item.ItemName}} <br>Customer Name:{{item.UserName}}</h3><div style="padding: 10px"></div></div>
	</div>
</div>
	<div [hidden]="user.role!='admin'">
		
		<h2>Ordered</h2>

	<div class="row"  *ngFor="let item of ordersplaced" style="margin-top: 10px; color: inherit; background-color: rgba(117, 123, 124, 0.3); border-radius: 6px; margin-right: 30px;">
		<div class="col-sm-12"><h3 *ngIf="item.status=='ordered'"	>Service Item:{{item.ItemName}} <br>Customer Name:{{item.UserName}}</h3><div style="padding: 10px"></div></div>
	</div>
	<h2>Processing</h2>

	<div class="row"  *ngFor="let item of ordersplaced" style="margin-top: 10px; color: inherit; background-color: rgba(117, 123, 124, 0.3); border-radius: 6px; margin-right: 30px;">
		<div class="col-sm-12"><h3 *ngIf="item.status=='taken'"	>Service Item:{{item.ItemName}} <br>Customer Name:{{item.UserName}}</h3><div style="padding: 10px"></div></div>
	</div>
	<h2>Delivered</h2>
	<div class="row"  *ngFor="let item of ordersplaced" style="margin-top: 10px; color: inherit; background-color: rgba(117, 123, 124, 0.3); border-radius: 6px; margin-right: 30px;">
		<div class="col-sm-12"><h3 *ngIf="item.status=='delivered'"	>Service Item:{{item.ItemName}} <br>Customer Name:{{item.UserName}}</h3><div style="padding: 10px"></div></div>
	</div>

	</div>

</div>
