<div class="row">
<div class="col-sm-4"></div>
<div class="col-sm-4">
	
    <div class="form-group">
        <label for="username">Username</label>
        <input type="text" placeholder="" class="form-control" id="username" placeholder="Your username" />
    </div>
    <div class="form-group">
        <label for="password">Email</label>
        <input type="password" placeholder="" class="form-control" id="password" placeholder="Your email address" />
    </div>
    
        <button class="btn btn-block btn-success btn-lg">Send Password</button>
        <button class="btn btn-block btn-warning btn-lg">Cancel</button>


<div class="col-sm-4"></div>
	
</div>



