<div class="jumbotron text-center">
	<h1>Mean App</h1>
	<p class="lead">Angular mean app with Auth</p>
	<div>
		<a class="btn btn-primary" [routerLink]="['/register']">Register</a>
		<a class="btn btn-default" [routerLink]="['/login']">Login</a>
	</div>
</div>

<div class="row">
	<div class="col-sm-4">
		<h3>Express Backend</h3>
		<p>node express app</p>
	</div>
	<div class="col-sm-4">
		<h3>Angular CLI</h3>
		<p>CLI compo, service etc.</p>
	</div>
	<div class="col-sm-4">
		<h3>JWT Tokens</h3>
		<p>authentication tokens</p>
	</div>
</div>