<div class="jumbotron text-center">
	<h1>Costa App</h1>
	<p class="lead">Customer service App</p>
	<div *ngIf="!authService.loggedIn()">
		<!-- <a class="btn btn-primary" [routerLink]="['/register']">Register</a> -->
		<a class="btn btn-default" [routerLink]="['/login']">Login</a>
	</div>
</div>

<div class="row" style="text-align: center">
	<div class="col-sm-4">
		<h3>Customer</h3>
		<p>Walk into the an hotel as your native one.</p>
	</div>
	<div class="col-sm-4">
		<h3>Service</h3>
		<p>Your language Your Order.</p>
	</div>
	<div class="col-sm-4">
		<h3>Acknowledgment</h3>
		<p>Service at its maximum</p>
	</div>
</div>